@import "tailwindcss";

@theme {
  --color-primary: #1f3f67;       
  --color-accent: #ffc400;        
  --color-text-light: #ffffff;    
  --color-placeholder: #c0c0c0;   
  --color-checkbox: #0096ff;      
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1f3f67;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}
